.scrollable-menu-container-video {

  overflow-y: auto;
  max-height: 200px; 
  scrollbar-width: thin; 
  scrollbar-color: #007bff #161825; 
}

.scrollable-menu-container-audio {
  overflow-y: auto;
  max-height: 200px;
  scrollbar-width: thin; 
  scrollbar-color: #007bff #161825; 
}


.scrollable-menu-container-audio::-webkit-scrollbar,
.scrollable-menu-container-video::-webkit-scrollbar {
  width: 5px; 
}

.scrollable-menu-container-audio::-webkit-scrollbar-thumb,
.scrollable-menu-container-video::-webkit-scrollbar-thumb {
  background-color: #007bff;
}

.scrollable-menu-container-audio::-webkit-scrollbar-thumb:hover,
.scrollable-menu-container-video::-webkit-scrollbar-thumb:hover
 {
  background-color: #0066cc; 
}

.scrollable-menu-container-audio::-webkit-scrollbar-track,
.scrollable-menu-container-video::-webkit-scrollbar-track {
  background: #161825; 
}

.scrollable-menu-container-audio::-webkit-scrollbar-corner,
.scrollable-menu-container-video::-webkit-scrollbar-corner {
  background: #161825;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;

.menu-item {
  margin: 5px;
   
} 

.menu-item img {
  max-width: 100%;
  height: auto;
  display: block;
}

.clicked {
  transform: scale(0.95); 
  transition: transform 0.2s; 
}